<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style/common/reset.scss">
    <link rel="stylesheet" href="./style/common/variables.scss">
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>

    <header>

        <div class="header-content container">

            <nav>
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </nav>

        </div>

    </header>

    <main>

        <div class="banner">

            <div class="container">

                <div class="row">
                    <div class="banner-left">
                        <div class="banner__title">
                            <h2>OUR STRONG <p>ORGANISATION</p></h2>
                        </div>

                        <div class="banner__title_text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia repellat aliquid sapiente dignissimos tempore, quis similique cum modi reiciendis eum quisquam expedita beatae vel recusandae facere! Doloremque, quia quo. Quis blanditiis libero, distinctio sed veniam corporis nostrum consectetur rerum officia?</p>
                        </div>

                        <div class="banner_container_button">
                            <a href="#">Contact Us</a>
                        </div>
                    </div>

                    <div class="banner_video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/lpcpsCY4Mco" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>

            </div>

        </div>



        <div class="About_us">

            <div class="container">

                <div class="row_about">

                    <div class="About_us_title">

                        <div class="possibilities__title">
                            <h2>DO YOU KNOW WE CAN <p>PROVIDE FOR YOU ?</p></h2>
                        </div>

                        <div class="possibilities__title_text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia repellat aliquid sapiente dignissimos tempore, quis similique cum modi reiciendis eum quisquam expedita beatae vel recusandae facere! Doloremque, quia quo. Quis blanditiis libero, distinctio sed veniam corporis nostrum consectetur rerum officia?</p>
                        </div>

                        <div class="possibilities_container_button">
                            <a href="#">Learn More</a>
                        </div>
                    </div>

                    <div class="possibilities">
                        <div class="possibilities__item">
                            <div class="possibilities__item-wrapper">
                                <div class="possibilities__avatar">
                                    <img src="./img/gear.png">
                                </div>
                                <div class="possibilities__text">
                                    <p>
                                    <h3>
                                        Managment
                                        </h3>
                                    </p>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum ut in ipsam unde! Quisquam, reiciendis.</p>
                                </div>
                            </div>
                        </div>


                        <div class="possibilities__item">
                            <div class="possibilities__item-wrapper">
                                <div class="possibilities__avatar">
                                    <img src="./img/pen.png"  >
                                </div>
                                <div class="possibilities__text">
                                    <p>
                                        <h3>
                                            UI/UX Design
                                        </h3>
                                    </p>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum ut in ipsam unde! Quisquam, reiciendis.</p>
                                </div>
                            </div>
                        </div>


                        <div class="possibilities__item">
                            <div class="possibilities__item-wrapper">
                                <div class="possibilities__avatar">
                                    <img src="./img/diamond.png"  >
                                </div>
                                <div class="possibilities__text">
                                    <p>
                                        <h3>
                                            Logo/Branding
                                        </h3>
                                    </p>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum ut in ipsam unde! Quisquam, reiciendis.</p>
                                </div>
                            </div>
                        </div>


                        <div class="possibilities__item">
                            <div class="possibilities__item-wrapper">
                                <div class="possibilities__avatar">
                                    <img src="./img/van.png" >
                                </div>
                                <div class="possibilities__text">
                                    <p>
                                        <h3>
                                            Animation
                                        </h3>
                                    </p>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum ut in ipsam unde! Quisquam, reiciendis.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>

    </footer>

</body>
</html>